body {
    height: 600px;

}

* {
    margin: 0;
    padding: 0;
}

.input-row {
    font-size: 10px;
    color: red;
}

.from {
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    border: 1px solid gray;
}

h3 {
    text-align: center;
    margin-top: 30px;
}

input {
    height: 30px;
    width: 200px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    position: relative;
}

button {
    margin: 40px 0 0 150px;
    height: 40px;
    width: 80px;
    background-color: aquamarine;
    border: none;
}
small{
    margin-left: 50%;
    transform: translate(-50%);
}
